
[merge]
tool = unityyamlmerge

[mergetool "unityyamlmerge"]
trustExitCode = false
# Change this path locally according to https://docs.unity3d.com/Manual/SmartMerge.html
cmd = 'D:\Progs\Unity Installs\2019.3.0f6\Editor\Data\Tools\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"